In [1]:
import pandas as pd

In [5]:
# loading the dataset
df = pd.read_csv('/content/Zomato  raw data.csv')
df

,name,online_order,book_table,rate,votes,approx_cost(for two people),listed_in(type)
0,Jalsa,Yes,Yes,4.1/5,775,800,Buffet
1,Spice Elephant,Yes,No,4.1/5,787,800,Buffet
2,San Churro Cafe,Yes,No,3.8/5,918,800,Buffet
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,300,Buffet
4,Grand Village,No,No,3.8/5,166,600,Buffet
...,...,...,...,...,...,...,...
143,Melting Melodies,No,No,3.3/5,0,100,Dining
144,New Indraprasta,No,No,3.3/5,0,150,Dining
145,Anna Kuteera,Yes,No,4.0/5,771,450,Dining
146,Darbar,No,No,3.0/5,98,800,Dining
147,Vijayalakshmi,Yes,No,3.9/5,47,200,Dining

In [6]:
df.isnull().sum()

name                           0
online_order                   0
book_table                     0
rate                           0
votes                          0
approx_cost(for two people)    0
listed_in(type)                0
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148 entries, 0 to 147
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   name                         148 non-null    object
 1   online_order                 148 non-null    object
 2   book_table                   148 non-null    object
 3   rate                         148 non-null    object
 4   votes                        148 non-null    int64
 5   approx_cost(for two people)  148 non-null    int64
 6   listed_in(type)              148 non-null    object
dtypes: int64(2), object(5)
memory usage: 8.2+ KB

In [ ]:
df.head(2)

,name,online_order,book_table,rate,votes,approx_cost(for two people),listed_in(type)
0,Jalsa,Yes,Yes,4.1/5,775,800,Buffet
1,Spice Elephant,Yes,No,4.1/5,787,800,Buffet

there are no null values in the data

here the online_order and rate is stored in object type we need to convert to numeric

In [11]:
df.dtypes

name                            object
online_order                    object
book_table                      object
rate                           float64
votes                            int64
approx_cost(for two people)      int64
listed_in(type)                 object
dtype: object

In [ ]:
df.isnull().sum()

name                           0
online_order                   0
book_table                     0
rate                           0
votes                          0
approx_cost(for two people)    0
listed_in(type)                0
dtype: int64

In [ ]:
df.duplicated().sum()

np.int64(0)

In [ ]:

df = df.drop_duplicates()

In [8]:
import numpy as np
# cleaning rate column
df['rate'] = df['rate'].str.replace('/5', '', regex=False)
df['rate'] = df['rate'].replace(['NEW', '-'], np.nan)
df['rate'] = pd.to_numeric(df['rate'], errors='coerce')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148 entries, 0 to 147
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   name                         148 non-null    object
 1   online_order                 148 non-null    object
 2   book_table                   148 non-null    object
 3   rate                         148 non-null    float64
 4   votes                        148 non-null    int64
 5   approx_cost(for two people)  148 non-null    int64
 6   listed_in(type)              148 non-null    object
dtypes: float64(1), int64(2), object(4)
memory usage: 8.2+ KB

In [12]:
df.head()

,name,online_order,book_table,rate,votes,approx_cost(for two people),listed_in(type)
0,Jalsa,Yes,Yes,4.1,775,800,Buffet
1,Spice Elephant,Yes,No,4.1,787,800,Buffet
2,San Churro Cafe,Yes,No,3.8,918,800,Buffet
3,Addhuri Udupi Bhojana,No,No,3.7,88,300,Buffet
4,Grand Village,No,No,3.8,166,600,Buffet

Convertiing the online_order and book_table into the boolean format

In [13]:
df['online_order'].value_counts()
df['book_table'].value_counts()

book_table
No     140
Yes      8
Name: count, dtype: int64

In [14]:
df['online_order'] = df['online_order'].str.strip().str.title()
df['book_table'] = df['book_table'].str.strip().str.title()

In [16]:
df['online_order'] = df['online_order'].map({'Yes': True, 'No': False})
df['book_table'] = df['book_table'].map({'Yes': True, 'No': False})

In [17]:
df.head(3)

,name,online_order,book_table,rate,votes,approx_cost(for two people),listed_in(type)
0,Jalsa,True,True,4.1,775,800,Buffet
1,Spice Elephant,True,False,4.1,787,800,Buffet
2,San Churro Cafe,True,False,3.8,918,800,Buffet

In [19]:
df['approx_cost(for two people)'].value_counts()

approx_cost(for two people)
300    23
150    16
200    16
400    15
500    14
600    13
800    12
250     6
100     6
450     6
700     5
350     3
550     3
750     3
900     2
650     2
850     2
950     1
Name: count, dtype: int64

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148 entries, 0 to 147
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   name                         148 non-null    object
 1   online_order                 148 non-null    bool
 2   book_table                   148 non-null    bool
 3   rate                         148 non-null    float64
 4   votes                        148 non-null    int64
 5   approx_cost(for two people)  148 non-null    int64
 6   listed_in(type)              148 non-null    object
dtypes: bool(2), float64(1), int64(2), object(2)
memory usage: 6.2+ KB

In [22]:
df['rate'].fillna(df['rate'].median(), inplace  = True)
df['approx_cost(for two people)'].fillna(df['approx_cost(for two people)'].median(), inplace = True)

/tmp/ipython-input-1244582846.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['rate'].fillna(df['rate'].median(), inplace  = True)

Feature Engineering

In [26]:
df['cost_category'] = pd.qcut(df['approx_cost(for two people)'], q=3, labels = ['Low', 'Medium', 'High'])
df

,name,online_order,book_table,rate,votes,approx_cost(for two people),listed_in(type),cost_category
0,Jalsa,True,True,4.1,775,800,Buffet,High
1,Spice Elephant,True,False,4.1,787,800,Buffet,High
2,San Churro Cafe,True,False,3.8,918,800,Buffet,High
3,Addhuri Udupi Bhojana,False,False,3.7,88,300,Buffet,Low
4,Grand Village,False,False,3.8,166,600,Buffet,High
...,...,...,...,...,...,...,...,...
143,Melting Melodies,False,False,3.3,0,100,Dining,Low
144,New Indraprasta,False,False,3.3,0,150,Dining,Low
145,Anna Kuteera,True,False,4.0,771,450,Dining,Medium
146,Darbar,False,False,3.0,98,800,Dining,High
147,Vijayalakshmi,True,False,3.9,47,200,Dining,Low

In [27]:
df.to_csv('cleaned zomato data set', index = False)

In [28]:
print('cleaned zomato data set')

cleaned zomato data set